src/main/mule/cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1dc7b366-e649-4def-aaca-13d7aaecfdd2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicdFlow" doc:id="c196cb18-baa2-417f-8ee7-a84e71a2be7b" >
		<http:listener doc:name="Listener" doc:id="69dbc29d-f899-48d5-a13b-af33918d98c4" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#["cici application responce"]' doc:name="Set Payload" doc:id="eaed09a4-c3c2-4c48-b0a7-7e78bbafc673" />
	</flow>
</mule>
